DATABASE_URL=sqlite+aiosqlite:///./millicall.db
ASTERISK_CONFIG_DIR=/etc/asterisk
ASTERISK_TEMPLATES_DIR=./asterisk_templates
COEFONT_ACCESS_KEY=
COEFONT_ACCESS_SECRET=
COEFONT_VOICE_ID=cbe4e152-40a5-4c0d-91cd-2fc27d60e6bd
